body {
  background: linear-gradient(to bottom right,rgb(146,176,233),rgb(143,210,180));
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to bottom right,rgb(146,176,233),rgb(143,210,180));
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: black;
}

main::-webkit-scrollbar-thumb {
  background: white;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background: linear-gradient(to bottom right,rgb(146,176,233),rgb(143,210,180));
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}


input {
  margin-left: 10px;
  margin-bottom:10px;
  line-height: 1.5rem;
  width: 100%;
  bottom:0;
  font-size: 1.2rem;
  background-color: white;
  color:black;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 30px;
}
button[type=submit]{
  margin: 10px;
  margin-top: 0;
  width:25%;
  border-radius:50%;
  outline: none;
  background-color: green;
}

button {
  
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in , .sign-out{
  color: white;
  padding: 20px;
  background: white;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: black;
  
  
}
header{
  background: linear-gradient(to bottom right,rgb(146,176,233),rgb(143,210,180));
}
.sign-in:hover,
.sign-in:active{
  
  background-color: white;
  color:black
}
.sign-out{
  width:200px
}
ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 10px;
  position: relative;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color:white;
  border-radius: 30px;
  background: rgb(36, 179, 204);
  align-self: flex-end;
}
.received p {
  border-radius: 30px;
  background: #e5e5ea;
  color: black;
  align-self: flex-start;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

@media(max-width:25rem){
  .sent p{
    min-width: 10%;
    max-width: 50%;
    word-wrap: break-word;
  }
  .received p{
    min-width: 10%;
    max-width: 50%;
    word-wrap: break-word;
  }
}